{% extends 'base.html' %}

<style>
    {% block style %}
        .content {
            background-color: black;
        }
    {%  endblock %}
</style>

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Contact Us! </h1>

            <p>
                Роман Соловьев <br>
                rom.solovev@gmail.com
                <br>
                <br>
                Даниил Кулько <br>
                kulkodaniil@gmail.com
            </p>
        </div>
    </div>
    {#    <div class="content">#}
    {#        <div class="entry">#}
    {#            <p>#}
    {#                HEY#}
    {#            </p>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}