{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{% load staticfiles %}

{% block head_title %}
    Welcome | {{ block.super }}
{% endblock %}

<style>
    {% block style %}
        .navbar-static-top {
            margin-bottom: 1px !important;
        }
        .btn-primary {
            color: #fff;
            background-color: #efe8e8;
            border-color: #efe8e8;
        }
        .btn-primary > li > a:hover {
            color: #fcf9f9;
        }
        .jumbotron {
            background-color: #fcf9f9;
            color: black;
        }
        .jumbotron h1 {
            font-weight: 100;
        }
    {%  endblock %}
</style>



{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://pp.vk.me/c5391/u13499710/-7/x_caeff6d9.jpg" class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                    {#                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zITKjQtAGsk" frameborder="0"#}
                    {#                            allowfullscreen></iframe>#}
                    <img src="https://pp.vk.me/c5391/u13499710/-7/x_caeff6d9.jpg" class="img-responsive"/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://pp.vk.me/c5391/u13499710/-7/x_caeff6d9.jpg" class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                    <img src="https://pp.vk.me/c5391/u13499710/-7/x_caeff6d9.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

{% endblock %}

