{% load staticfiles %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 9px 15px;" href="{% url 'test' %}">
                <img src="{% static 'HURTMOLD.png' %}" , height="32" width="202"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
{#                <li><a href="{% url 'test' %}">Home</a></li>#}
                <li><a href="{% url 'about' %}">О проекте</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.facebook.com">
                        <i class="fa fa-facebook-square fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://vk.com">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
