<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>D3 test</title>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
        <script>
            d3.csv('/static/data/fedbud_year.csv', function (data) {
{#                console.log(data[0])#}
{#                var data1 = data[0];#}
                var canvas =  d3.select('body')
                        .append('svg')
                        .attr('height', 500)
                        .attr('width', 500);

                canvas.selectAll('rect')
                        .data(data)
                        .enter()
                            .append('rect')
                            .attr('width', function (d) {return d.two_th * 1000;})
                            .attr('height', 50)
                            .attr('y', function (d, i) {return i * 100;})
                            .attr('fill', 'blue');


            });




        </script>
    </body>
</html>